/* This is made to be viewed in 1366 by 786 resolution*/
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 250;
    line-height: 1.3;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-image :url("http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg");
    background-size: cover;
    margin: 0;
}

.page-title {
    text-align: center;
    font-weight: 100%;
    font-size: 75px;
    color: yellowgreen;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.secondary-title {
    position: middle;
    margin-top: 12px;
    font-weight: 75%;
    color: white;
}

.homepage-p1 {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

.homepage-p2 {
    padding: 20px;
    border: 5px solid lawngreen; 
    background:blue; 
    border-radius: 25px;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    }

.homepageimage1 {
    text-align: center;
    margin-right:33.6%;
    margin-left:33.7%;
    border: solid black;
}

nav {
    display: block;
    background-color: black;

}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 1%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1% 2% 1% 2%;
}

#mainnav {
    list-style-type: none;
    text-decoration: none;
    background-color: navy;
    float: center;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5;
}

nav ul a:hover {
    background-color: darkgoldenrod;
}

h1 {
    text-align: center;
    font-weight: 100%;
    font-size: 75px;
    color: yellowgreen;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-weight: 75%;
    color: white;
    font-size: 30px;
}

.Basicsp1 {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

.basicsleveldesc {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: left;
    color: white;
    margin-left: 60px;
    margin-right: 25%;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

.basicslevelsum {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: left;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}
#lvl1 {
    position: absolute;
    top: 98%;
    left: 78%;
    border: solid black;
}

#lvl2 {
    position: absolute;
    top: 131%;
    left: 78%;
    border: solid black;
}

#lvl3 {
    position: absolute;
    top: 164%;
    left: 78%;
    border: solid black;
}

#lvl4 {
    position: absolute;
    top: 197%;
    left: 78%;
    border: solid black;
}

#lvl5 {
    position: absolute;
    top: 230%;
    left: 78%;
    border: solid black;
}

#lvl6 {
    position: absolute;
    top: 263%;
    left: 78%;
    border: solid black;
}

#lvl7 {
    position: absolute;
    top: 296%;
    left: 78%;
    border: solid black;
}

#lvl8 {
    position: absolute;
    top: 329%;
    left: 78%;
    border: solid black;
}

#lvl9 {
    position: absolute;
    top: 362%;
    left: 78%;
    border: solid black;
}

#lvl10 {
    position: absolute;
    top: 395%;
    left: 78%;
    border: solid black;
}

#lvl11 {
    position: absolute;
    top: 428%;
    left: 78%;
    border: solid black;
}

#lvl12 {
    position: absolute;
    top: 461%;
    left: 78%;
    border: solid black;
}

#lvl13 {
    position: absolute;
    top: 594%;
    left: 78%;
    border: solid black;
}

#lvl14 {
    position: absolute;
    top: 527%;
    left: 78%;
    border: solid black;
}

#lvl15 {
    position: absolute;
    top: 560%;
    left: 78%;
    border: solid black;
}

#lvl16 {
    position: absolute;
    top: 593%;
    left: 78%;
    border: solid black;
}

#lvl17 {
    position: absolute;
    top: 626%;
    left: 78%;
    border: solid black;
}

#lvl18 {
    position: absolute;
    top: 659%;
    left: 78%;
    border: solid black;
}

#lvl19 {
    position: absolute;
    top: 692%;
    left: 78%;
    border: solid black;
}

#lvl20 {
    position: absolute;
    top: 725%;
    left: 78%;
    border: solid black;
}

#hardintro {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

#creatingintro {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

#Hardlevel {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: left;
    color: white;
    margin-left: 60px;
    margin-right: 25%;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

#vcataclysm {
    position: absolute;
    top: 54.5%;
    left: 78%;
    border: solid black;
}

#vthehellf {
    position: absolute;
    top: 81%;
    left: 78%;
    border: solid black;
}

#vredworldrebirth {
    position: absolute;
    top: 108%;
    left: 78%;
    border: solid black;
}

#vpp3 {
    position: absolute;
    top: 135%;
    left: 78%;
    border: solid black;
}

#vbof {
    position: absolute;
    top: 162%;
    left: 78%;
    border: solid black;
}

#vabp {
    position: absolute;
    top: 193%;
    left: 78%;
    border: solid black;
}

#vconicald {
    position: absolute;
    top: 219.5%;
    left: 78%;
    border: solid black;
}

#vphobos {
    position: absolute;
    top: 246.5%;
    left: 78%;
    border: solid black;
}

#vsakupenhell {
    position: absolute;
    top: 273.5%;
    left: 78%;
    border: solid black;
}

#vbloodbath {
    position: absolute;
    top: 301%;
    left: 78%;
    border: solid black;
}

#create {
    padding: 20px;
    border: 5px solid lawngreen; 
    border-radius: 25px;
    text-align: left;
    color: white;
    margin-left: 60px;
    margin-right: 25%;
    background:blue;
    margin-bottom: 15px;
    margin-top: 30px;
}

#demtravel {
    position: absolute;
    top: 56%;
    left: 78%;
    border: solid black;
}

#motion {
    position: absolute;
    top: 80.5%;
    left: 78%;
    border: solid black;
}

#darkrainbowrebirth {
    position: absolute;
    top: 105%;
    left: 78%;
    border: solid black;
}

#ninecircles {
     position: absolute;
    top: 129.5%;
    left: 78%;
    border: solid black;
}

#chocolate {
     position: absolute;
    top: 154%;
    left: 78%;
    border: solid black;
}

a {
    color: lawngreen;
}
